# Build outputs
/obj/
/objs/
/build_logs/
/AC701N.depend
/AC701N.layout
*.depend
*.layout
/cpu/br28/tools/sdk.elf
/cpu/br28/tools/sdk.elf.*
/cpu/br28/tools/sdk.map
/cpu/br28/tools/sdk.ld
/cpu/br28/sdk.ld
/cpu/br28/sdk_used_list.used

# Generated post-build files
/cpu/br28/tools/app.bin
/cpu/br28/tools/sdk.lst
/cpu/br28/tools/symbol_tbl.txt
/cpu/br28/tools/download.bat
/cpu/br28/tools/download.sh
/cpu/br28/tools/isd_config.ini
/cpu/br28/tools/download/watch/app.bin
/cpu/br28/tools/download/watch/jl_isd.bin
/cpu/br28/tools/download/watch/jl_isd.fw
/cpu/br28/tools/download/watch/md5.bin
/cpu/br28/tools/download/watch/new_res.bin
/cpu/br28/tools/download/watch/res.bin
/cpu/br28/tools/download/watch/update.ufw
/cpu/br28/tools/download/watch/upgrade.zip

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
Thumbs.db
desktop.ini
